 .container-fluid .qriBrand{

    left: 10px;

}

 .container-fluid .navbar-header{

     left: 100px;

 }

.navbar-header h2{
    color: deepskyblue;
    left: 100px;
}

.navbar{

    margin: 0px;
    border-radius: 0px;
}

 .slide-in-elliptic-right-bck {
     -webkit-animation: slide-in-elliptic-right-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: slide-in-elliptic-right-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }


 @-webkit-keyframes slide-in-elliptic-right-bck {
     0% {
         -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
         transform: translateX(800px) rotateY(30deg) scale(6.5);
         -webkit-transform-origin: -100% 50%;
         transform-origin: -100% 50%;
         opacity: 0;
     }
     100% {
         -webkit-transform: translateX(0) rotateY(0) scale(1);
         transform: translateX(0) rotateY(0) scale(1);
         -webkit-transform-origin: 600px 50%;
         transform-origin: 600px 50%;
         opacity: 1;
     }
 }
 @keyframes slide-in-elliptic-right-bck {
     0% {
         -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
         transform: translateX(800px) rotateY(30deg) scale(6.5);
         -webkit-transform-origin: -100% 50%;
         transform-origin: -100% 50%;
         opacity: 0;
     }
     100% {
         -webkit-transform: translateX(0) rotateY(0) scale(1);
         transform: translateX(0) rotateY(0) scale(1);
         -webkit-transform-origin: 600px 50%;
         transform-origin: 600px 50%;
         opacity: 1;
     }
 }
